
         .container-footer {
            display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 26px;
}
       

       .container-footer span {
            padding: 0 11px;
       }

       .container-footer p {
            margin: 8px auto;
       }

       .footer-logo-link {
        display: flex;
        padding-right: 20px;
    }
       .rolling-link {
        padding-left: 60px;
    }

       .icon-container {
        display: flex;
        list-style: none;
       }

       .footer-icon {
        width: 32px;
        height: 32px;
        fill: var(--color-txt);
        transition: 0.3s;
    }

    .footer-link {
        text-decoration: none;
        color: var(--color-txt);
        transition: 0.3s;
    }
